<h1>To Do List</h1>
<%= form_tag to_do_list_load_sample_data_path, method: :post do %>
  <%= submit_tag 'Load Sample Data' %>
<% end %>

<table>
  <thead><th>Priority</th><th>Task name</th><th>description</th><th>delete</th></thead>
  <tbody>
  <% if @t.present? %>
    <% @t.priority_labelled.each do |t| %>
      <% first_row = true %>
        <tr>
          <% if first_row == true %>
            <td> <%= t.priority %> </td>
            <% first_row = false %>
          <% else %>
            <td></td>
          <% end %>
          <td> <%= t.name %> </td>
          <td><%= t.description %> </td>
          <td><%= link_to '🗑', to_do_list_task_path(@t, t.id), method: :delete %> </td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h4>Priorities Missing: <%= @t.missing_priority.to_sentence%> </h4>

<h4>Update Priority </h4>
<% if @t.present? %>
  <%= form_tag to_do_list_update_priority_path do %>
    <% @t.priority_not_labelled.each do |task| %>
      <%= fields_for "task[]", task do |f| %>
        <div class="form-group space">
        Task Name: <%= f.label f.object.name %>,
        Description: <%= f.label f.object.description %>,
        <%= hidden_field_tag 'to_do_list_id', f.object.to_do_list.id %>
        Priority:
        <%= f.select :priority, @t.missing_priority, class: 'form-control' %>
        <%= link_to '🗑', to_do_list_task_path(@t, f.object.id), method: :delete %>
      </div>
      <% end %>
    <% end %>
    <div class="form-group space">
      <%= submit_tag 'Update Priority', class: 'btn btn-warning pull-add-btn' %>
    </div>
  <% end %>
<% end %>

<h4>Create New Task </h4>
<%= form_for [@t, @t.tasks.new] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :priority %>
  <%= f.select :priority, @t.missing_priority.tap(&:pop), class: 'form-control', include_blank: true %>

  <%= f.submit "Create" %>
<% end %>


